/.calva/
/.clj-kondo/.cache/
/.cpcache/
/.lsp/
/.idea/
.nrepl-port
olivia.iml
/src/buzzlabs/core.clj~
/bin/build.sh~
/bin/run.sh~
/bin/test.sh~
*.el
/dev/user.clj
/logs

/node_modules/

/seguranca.jar
/classes/
target